5-web-Service/MySoapConsumer/MySoapConsumer/Connected Services/ServiceReference1/UnitConversion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MySoapService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MySoapService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Temperature">
    <xs:sequence>
      <xs:element minOccurs="0" name="Unit" type="tns:TemperatureUnit" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Temperature" nillable="true" type="tns:Temperature" />
  <xs:simpleType name="TemperatureUnit">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Celsius" />
      <xs:enumeration value="Fahrenheit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TemperatureUnit" nillable="true" type="tns:TemperatureUnit" />
</xs:schema>