5-web-Service/MySoapConsumer/MySoapConsumer/Connected Services/ServiceReference1/UnitConversion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UnitConversion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56803/UnitConversion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56803/UnitConversion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56803/UnitConversion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MySoapService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUnitConversion_FeetToMeeters_InputMessage">
    <wsdl:part name="parameters" element="tns:FeetToMeeters" />
  </wsdl:message>
  <wsdl:message name="IUnitConversion_FeetToMeeters_OutputMessage">
    <wsdl:part name="parameters" element="tns:FeetToMeetersResponse" />
  </wsdl:message>
  <wsdl:message name="IUnitConversion_ConvertTemp_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertTemp" />
  </wsdl:message>
  <wsdl:message name="IUnitConversion_ConvertTemp_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertTempResponse" />
  </wsdl:message>
  <wsdl:portType name="IUnitConversion">
    <wsdl:operation name="FeetToMeeters">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnitConversion/FeetToMeeters" message="tns:IUnitConversion_FeetToMeeters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnitConversion/FeetToMeetersResponse" message="tns:IUnitConversion_FeetToMeeters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertTemp">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnitConversion/ConvertTemp" message="tns:IUnitConversion_ConvertTemp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnitConversion/ConvertTempResponse" message="tns:IUnitConversion_ConvertTemp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUnitConversion" type="tns:IUnitConversion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FeetToMeeters">
      <soap:operation soapAction="http://tempuri.org/IUnitConversion/FeetToMeeters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertTemp">
      <soap:operation soapAction="http://tempuri.org/IUnitConversion/ConvertTemp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UnitConversion">
    <wsdl:port name="BasicHttpBinding_IUnitConversion" binding="tns:BasicHttpBinding_IUnitConversion">
      <soap:address location="http://localhost:56803/UnitConversion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>